<section aria-label="Loader de superheroes">
  <section class="loader">
    <img src="../../../../assets/batman.png" alt="batman" class="loader__item">
    <img src="../../../../assets/captain_america.png" alt="captain_america.png" class="loader__item">
    <img src="../../../../assets/hulk.png" alt="hulk.png" class="loader__item">
    <img src="../../../../assets/ironman.png" alt="ironman" class="loader__item">
    <img src="../../../../assets/superwoman.png" alt="superwoman.png" class="loader__item">
    <img src="../../../../assets/wolverine.png" alt="wolverine.png" class="loader__item">
  </section>
</section>