.superhero-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-family: fantasy;
  text-transform: uppercase;
  text-align: center;
  gap: 24px;
  margin: 16px 0px 16px 24px;

  &__buttons {
    display: flex;
    justify-content: space-between;
  }
}
