<main>
  <sh-filter [isOpen]="showFilterBar" (superheros)="updateSuperheros($event)"></sh-filter>
  <section class="superhero-list__buttons">
    <button class="button" (click)="toggleFilterBar($event)">Filtros</button>
    <button class="button" (click)="navigateToCreation()">Crear</button>
  </section>
  <section aria-label="Listado de superhéroes" class="superhero-list"
    [ngClass]="{'superhero-list--single-superhero': superheros.length === 1}">
    <article *ngFor="let hero of superheros" class="superhero-item" (click)="navigateToDetail(hero.id)">
      <img [src]="hero.image" alt="{{hero.name}}" class="superhero-item__img">
      <p class="superhero-item__name">{{hero.name}}</p>
    </article>
  </section>
</main>