<main>
  <section aria-label="Sección de la información de cada superhéroe" class="superhero-info">
    <section aria-label="Modal de información" class="superhero-info__card">
      <img [src]="hero!.image" class="superhero-info__img">
      <article class="superhero-info__description">
        <section aria-label="Sección de logos para editar o eliminar" class="superhero-info__options">
          <img src="../../../../assets/edit-icon.png" alt="Editar superhéroe" class="superhero-info__icon"
            (click)="navigateToEdit()">
          <img src="../../../../assets/delete-icon.png" alt="Eliminar superhéroe" class="superhero-info__icon">
        </section>
        <h3>{{ hero!.name }}</h3>
        <p><i>Lugar de nacimiento:</i> {{ hero!.biography.placeOfBirth }}</p>
        <p><i>Trabajo:</i> {{ hero!.work }}</p>
        <p><i>Parientes:</i></p>
        <ul>
          <li *ngFor="let relative of hero!.connections.relatives"> {{relative }}</li>
        </ul>
        <canvas #stats class="superhero-info__powerstats"></canvas>
      </article>
    </section>
  </section>
</main>