<main>
  <section aria-label="Sección de la información de cada superhéroe" class="superhero-info">
    <sh-confirmation-dialog [contentHtml]="deleteDialog"></sh-confirmation-dialog>
    <section aria-label="Modal de información" class="superhero-info__card">
      <section aria-label="Sección acciones" class="superhero-info__options">
        <img src="../../../../assets/back-arrow-icon.png" alt="Volver"
          class="superhero-info__icon superhero-info__icon--left" (click)="navigateToList()">
        <img src="../../../../assets/edit-icon.png" alt="Editar superhéroe"
          class="superhero-info__icon superhero-info__icon--right" (click)="navigateToEdit()">
        <img src="../../../../assets/delete-icon.png" alt="Eliminar superhéroe"
          class="superhero-info__icon superhero-info__icon--right" (click)="showConfirmationDialog()">
      </section>
      <section aria-label="Sección de información" class="superhero-info__information">
        <img [src]="hero!.image" class="superhero-info__img">
        <article class="superhero-info__description superhero-info__description--detail">
          <h3>{{ hero!.name }}</h3>
          <p><i>Lugar de nacimiento:</i> {{ hero!.biography.placeOfBirth }}</p>
          <p><i>Trabajo:</i> {{ hero!.work }}</p>
          <p><i>Parientes:</i></p>
          <ul>
            <li *ngFor="let relative of hero!.connections.relatives"> {{relative }}</li>
          </ul>
          <canvas #stats class="superhero-info__powerstats"></canvas>
        </article>
      </section>
    </section>
  </section>
</main>